<%- include("partials/header"); -%>

<div class="result">
  <h3>the temperature is in <%=query%> is <%=temp%> degrees &#176;C</h3>
  <p>The weather is <%= description %> </p>
  <img class="weatherImg" src=<%= iconUrl %>>

</div>
<%- include("partials/footer"); -%>